<div>
    <h1>Ejemplo Basic OAUTH</h1>
    Username : <input type="text" id="txtUsername" />
    Password : <input type="password" id="txtPassword" />
    <br /><br />
    <input id="btn" type="button" value="Authenticate and Get Employees" />
    <input id="btnClear" type="button" value="Clear" />
    <ul id="ulPersonas"></ul>



</div>

@section scripts
    {
    
    <script type="text/javascript">
        $(document).ready(function () {
            var ulPersonas = $('#ulPersonas');

            $('#btn').click(function () {
         
                var username = $('#txtUsername').val();
                var password = $('#txtPassword').val();

                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:56408/api/values',
                    dataType: 'json',
                    headers: {
                        'Authorization': 'Basic ' + btoa(username + ':' + password)
                    },
                    success: function (data) {
                        ulPersonas.empty();
                        $.each(data, function (index, val) {
                            var datos = val.Nombre + ' ' + val.Apellido;
                            ulPersonas.append('<li>' + datos + ' (' + val.Sexo + ')</li>')
                        });
                    },
                     complete: function (jqXHR) {
                        if (jqXHR.status == '401') {
                            ulPersonas.empty();
                            ulPersonas.append('<li style="color:red">'
                                + jqXHR.status + ' : ' + jqXHR.statusText + '</li>')
                        }
                    }
                });
            });

            $('#btnClear').click(function () {
                ulPersonas.empty();
            });
        });
</script>

    }


